body {
    color: black;
}

.logo {
    width: 100vw;
    max-width: 700px;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 20px 0px;
    overflow-x: hidden;
}

.tagline {
    text-align: center;
    color: #f5945c;
    margin-bottom: 30px;
}

.menu-item {
    text-align: center;
    padding: 15px;
    height: 400px;
    width: 300px;
    margin: 0 auto 30px auto;
}

.food-img {
    width: 300  px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.description {
    font-weight: normal;
    margin: 10px 0;
}

.add-button {
    border-radius: 25px;
    padding: 8px 25px;
    background-color: dimgray;
    color: black;
    border: none;
}